*{
  margin: 0;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
  overflow: hidden;
}

/* Main */

.topBar button{
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background: brown;
  color: white;
  margin-right: 5px;
  outline: none;
  border: none;
}
.topBar button:nth-child(3){
  background: whitesmoke;
  color: black;
}
.topBar button:hover{
  filter: brightness(95%);
}
.pen-width{
  width: 100px;
  height: 25px;
  margin-right: 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 5px;
}
.color, .color div div{
  border-radius: 50%;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  transition: transform .3s;
}
.color div div:hover{
  transform: scale(1.1, 1.1);
}
.color{
  background-color: black;
  border: 1px solid white;
}
.container{
  width: 187.5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px dimgray;
  border-radius: 5px;
  display: none;
  padding: 5px;
  background: rgb(250, 250, 250);
  flex-flow: row wrap;
}
.sideBar div{
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
}
.sideBar div:hover{
  background-color: darkgray;
}
.board{
  height: 100%;
  width: 100%;
}

/* Resize Container */

.resizeCont{
  width: 200px;
  height: 200px;
  position: absolute;
  background: transparent;
  display: flex;
  justify-items: stretch;
  align-items: stretch;
}